div{
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filterOption{
  width: 10vw;
  display: flex;
}
.filterContainer{
  display: flex;
  flex-direction: row;
}
app-item{
  width: 800px;
}