<app-filter-form [option]="option">

</app-filter-form>

<div>
    <div *ngFor="let transaction of transactions$ | async" style="display: flex; flex-flow: column; align-items: left;">
        <app-item *ngIf="filter_item(transaction)" [item]="transaction.item" [itemOnSale]="true" [price]="transaction.price">
        </app-item>
        <button (click)="openSellItemDialog(transaction)" mat-raised-button color="primary" style="max-width: 200px; position: relative;top: -25px">Buy Item</button>
    </div>
</div>
