<mat-card>
    <mat-card-title>Add item</mat-card-title>
    <mat-card-content>
        <form [formGroup] = "itemForm" (ngSubmit)="submit()">

            <mat-form-field>
                <input type="name" matInput placeholder="name" formControlName="name">
                <!-- Here we can display error messages/hints for the user, if one of the Validators adds an error to the username 
         with the .touched check we only display the hints if the input was touched by the users -->

            </mat-form-field>

            <mat-form-field>
                <input type="type" matInput placeholder="type" formControlName="type">
            </mat-form-field>
            <mat-form-field>
                <input type="imgUrl" matInput placeholder="imgUrl" formControlName="imgUrl">
            </mat-form-field>
            <mat-form-field>
                <input type="price" matInput placeholder="price" formControlName="price">
            </mat-form-field>
            <mat-form-field>
                <input type="rarity" matInput placeholder="rarity" formControlName="rarity">
            </mat-form-field>
            <mat-form-field>
                <input type="collection" matInput placeholder="collection" formControlName="collection">
            </mat-form-field>
            <mat-form-field>
                <input type="condition" matInput placeholder="condition" formControlName="condition">
            </mat-form-field>
            <div class="button">
                <!-- Button is disabled(not clickable), if our LoginForm contains Validation Errors -->
                <button type="submit" mat-button>Add</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>