<mat-card>
    <mat-card-title>Add item</mat-card-title>
    <mat-card-content>
        
            <mat-form-field>
                <mat-label>name</mat-label>
                <input matInput [(ngModel)]="item.name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select type</mat-label>
                <mat-select [(value)]="item.type">
                    <mat-option value="none">none</mat-option>
                    <mat-option value="weapon">weapon</mat-option>
                    <mat-option value="gloves">gloves</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>imgUrl</mat-label>
                <input matInput [(ngModel)]="item.imgUrl">
            </mat-form-field>

            <mat-form-field>
                <mat-label>price</mat-label>
                <input type="number" matInput [(ngModel)]="item.price">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select rarity</mat-label>
                <mat-select [(value)]="item.rarity">
                <mat-option value="none">none</mat-option>
                <mat-option value="common">common</mat-option>
                <mat-option value="uncommon">uncommon</mat-option>
                <mat-option value="rare">rare</mat-option>
                <mat-option value="epic">epic</mat-option>
                <mat-option value="legendary">legendary</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>collection</mat-label>
                <input matInput [(ngModel)]="item.fromCollection">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select condition</mat-label>
                <mat-select [(value)]="item.condition">
                <mat-option value="none">none</mat-option>
                <mat-option value="battle-scarred">battle-scarred</mat-option>
                <mat-option value="well-worn">well-worn</mat-option>
                <mat-option value="field-tested">field-tested</mat-option>
                <mat-option value="minimal-wear">minimal-wear</mat-option>
                <mat-option value="factory-new">factory-new</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button">
        
                <button (click)="submit()" mat-raised-button color="primary">add</button>
            </div>

    </mat-card-content>
</mat-card>