 
app-item, button{
    width: 800px;
  }
.container{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
  }

.sellButton{
  display: flex;
  height: 70px;
}
  