<div class="container">
    <!-- <app-logout></app-logout> -->
    <div class="money-div">
        <form [formGroup] = "formGroup" action="">
            <label for="balance">add money</label>
            <input type="number" formControlName="addControl">
            <button (click)="addMoney()">add</button>
        </form>
    </div>
    <div *ngIf="user" class="flex-container">
        <div class="info-item">
          <span>Username:</span>
          <span>{{ user.username }}</span>
        </div>
        <div class="info-item">
          <span>First Name:</span>
          <span>{{ user.firstname }}</span>
        </div>
        <div class="info-item">
          <span>Last Name:</span>
          <span>{{ user.lastname }}</span>
        </div>
        <div class="info-item">
          <span>Email:</span>
          <span>{{ user.email }}</span>
        </div>
        <div class="info-item">
          <span>Role:</span>
          <span>{{ user.role }}</span>
        </div>
        <div class="info-item">
          <span>Registration Date:</span>
          <span>{{ user.registrationDate | date }}</span>
        </div>
        <div class="info-item">
          <span>Balance:</span>
          <span>{{user.balance ?? "NOT_FOUND"}}</span>
        </div>
        <div class="info-item">
          <span>private inventory:</span>
          <span>{{user.preferences?.private_inventory ?? "not set"}}</span>
        </div>
      </div>
    <div *ngIf="!user" style="color: rgb(88, 20, 20);"> NO USER INFORMATION FOUND</div>
    <hr>
    <div *ngIf="user">
      <h2> Inventory</h2>
      <app-filter-form [option]="option">
      </app-filter-form>
      <div *ngFor="let item of user.items">
          <app-item *ngIf="check(item)" [item]="item" [itemOnSale]="false">
          </app-item> 
          <div class="sellButton">
              <mat-form-field>
                  <mat-label>fill price to sell</mat-label>
                  <input type="number" matInput [(ngModel)]="item.price">
              </mat-form-field>
              <button style="width: 50px; height: 48px;" *ngIf="item.price" (click)="sell(item)" mat-raised-button color="primary">sell</button>
          </div>   
      </div>
    </div>
</div>
