 
app-item, button{
    width: 80%;
  }
.container{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }

.sellButton{
  display: flex;
  height: 70px;
}
  
.user_data {
  position: absolute;
  right: 50px;
  top: 150px;
  border: 1px solid gray;
  background-color: white;

  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  gap: 10px;
  
}

.add_money {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  padding: 10px;
}

.info-item {
  display: flex;
  
}


.info-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-item span:first-child {
  margin-right: 10px;
}

.info-item span:nth-child(2) {
  font-weight: bold;
}

.tabs {
  background-color: white;
  padding: 20px;
}