 
app-item, button{
    width: 80%;
  }
.container{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }

.sellButton{
  display: flex;
  height: 70px;
}
  
.money-div {
  position: absolute;
  right: 50px;
  top: 150px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 200px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid gray;
}
.info-item {
  display: flex;
  gap: 10px;
}

.info-item span {
  font-weight: bold;
}