.transaction-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.item-details {
    display: flex;
    align-items: center;
}

.item-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.transaction-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    gap: 50px;
    width: 800px;
    box-shadow: 1px 1px 1px gray;
}

.transaction-card > *:first-child {
    border-right: 1px solid gray;
    padding: 10px;
}