<div class="item-details">
    <p> item_id: {{ item_id }} </p>
    <app-item *ngIf="item$ | async as item" [item]="item">
        {{ item }}
    </app-item>  
    <hr>
    <div class="trasaction-history">
        <h3> Historia transakcji: </h3>  
        <div class="transaction-list">
            
            <div *ngFor="let transaction of transactions">
                <app-transaction 
                *ngIf="transaction.status === 'Successful'" [transaction]="transaction"> </app-transaction>
            </div>
        </div>
    </div>
</div>
