img{
    height: 100px;
    width: auto;
}

.outer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    /* border-color: black; */
      background-color: white;
    border-style: dashed;
    border-radius: 10px;
    justify-content: space-between;
    /* border: 10px; */
}

.inner{
    display: flex;
}
