<p style="margin-top: 0px;">
    <mat-toolbar>
     <a class="panel-button" [routerLink]="['/market']">
        <mat-icon>store</mat-icon>
     </a>
     <a class="panel-button" [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
     </a>
     <a *ngIf="loggedIn()" class="panel-button" (click)="navUser()" >
      <mat-icon>home</mat-icon>
      </a>
     <h2 style="margin-left: auto; font-weight: bolder;"> Online Marketplace </h2>
  </mat-toolbar>
  </p>
<router-outlet></router-outlet>
